<p>parent works!</p>

<ul>
    <li *ngFor="let f of fruits ; let i =index">
        {{i+1}} == {{f}}
    </li>
</ul>


<p *ngIf="isTrue"> this is visible </p>
<p *ngIf="!isTrue"> this is visible </p>

<!-- <app-child [nameChildVarible]="userNameParentVarible"   [password]="password"  ></app-child>
<app-child [phone]="phone"></app-child> -->

<app-child [team]="team" (teamname)="getTeamFromChild($event)"></app-child> 

<!-- <app-child (msg)="getMsgFromChild($event)"></app-child>
<h1>this ={{message}}</h1> -->

<!-- <app-child (teamname)="getTeamFromChild($event)"></app-child> -->
<h1>this ={{iplTeam}}</h1>



